body {
    background-color: #d9e4ff;
}

h1 {
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}

h3 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: darkcyan;
}

p {
    line-height: 2;
}

img {
    border: solid red 5px;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    display: inline-block;
    margin-left: 50px;
}